@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local('Raleway Bold'), local('Raleway-Bold'), url('../../../public/fonts/Raleway/Raleway-Bold.ttf') format('ttf') format('truetype');
  }

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local('Raleway Medium'), local('Raleway-Medium'), url('../../../public/fonts/Raleway/Raleway-Medium.ttf') format('ttf') format('truetype');
  }

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local('Raleway Regular'), local('Raleway-Regular'), url('../../../public/fonts/Raleway/Raleway-Regular.ttf') format('ttf') format('truetype');
  }



  @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      src: local('Roboto Bold'), local('Roboto-Bold'), url('../../../public/fonts/Roboto/Roboto-Bold.ttf') format('ttf') format('truetype');
    }
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        src: local('Roboto Medium'), local('Roboto-Medium'), url('../../../public/fonts/Roboto/Roboto-Medium.ttf') format('ttf') format('truetype');
      }

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular'), local('Roboto-Regular'), url('../../../public/fonts/Roboto/Roboto-Regular.ttf') format('ttf') format('truetype');
  }

  

  @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      src: local('Roboto Bold'), local('Roboto-Bold'), url('../../../public/fonts/Roboto/Roboto-Bold.ttf') format('ttf') format('truetype');
    }

    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        src: local('Roboto Medium'), local('Roboto-Medium'), url('../../../public/fonts/Roboto/Roboto-Medium.ttf') format('ttf') format('truetype');
      }

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Regular'), local('Roboto-Regular'), url('../../../public/fonts/Roboto/Roboto-Regular.ttf') format('ttf') format('truetype');
  }



  @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      src: local('Roboto Bold'), local('Roboto-Bold'), url('../../../public/fonts/Roboto/Roboto-Bold.ttf') format('ttf') format('truetype');
    }

    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        src: local('Roboto Medium'), local('Roboto-Medium'), url('../../../public/fonts/Roboto/Roboto-Medium.ttf') format('ttf') format('truetype');
      }

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Regular'), local('Roboto-Regular'), url('../../../public/fonts/Roboto/Roboto-Regular.ttf') format('ttf') format('truetype');
  }



  @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 900;
      src: local('Roboto Bold'), local('Roboto-Bold'), url('../../../public/fonts/Roboto/Roboto-Bold.ttf') format('ttf') format('truetype');
    }

    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        src: local('Roboto Medium'), local('Roboto-Medium'), url('../../../public/fonts/Roboto/Roboto-Medium.ttf') format('ttf') format('truetype');
      }

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Regular'), local('Roboto-Regular'), url('../../../public/fonts/Roboto/Roboto-Regular.ttf') format('ttf') format('truetype');
  }






