body {
    font-family: "Roboto", 'Helvetica Neue', sans-serif;
    letter-spacing: 0.03em;
    background-color: var(--primery-white-color);
    color: var(--primery-text-color);

}

img{
    display: block;
    max-width: 100%;
    height: auto;
}