<section class="features">
    <div class="container features__container" id="Geodesy-our-features">
        <h2 class="section-title primary__features">Наші переваги</h2>
        <ul class="features__list">
            <li class="features__item">
                <svg class="features__icon" width="55" height="55">
                    <use href="./images/sprite.svg#icon-construction"></use>
                </svg>
                <h3 class="features__title">Високий професіоналізм</h3>
                <p class="features__text">Наш колектив експертів володіє широким спектром знань у галузі
                    геологічних
                    та
                    топографічних досліджень. Висока кваліфікація наших фахівців гарантує надійні та точні
                    результати
                    робіт. Ми впевнені в якості наших послуг, що завжди відповідає найвищим стандартам.</p>
            </li>
            <li class="features__item">
                <svg class="features__icon" width="55" height="55">
                    <use href="./images/sprite.svg#icon-land-surveyor"></use>
                </svg>
                <h3 class="features__title">Сучасне обладнання</h3>
                <p class="features__text">Наша компанія інвестує в сучасне топографічне та геологічне
                    обладнання, що
                    дозволяє забезпечити найточніші вимірювання та високоякісні дослідження в стислі терміни. Ми
                    використовуємо
                    передові
                    технології для забезпечення точності та ефективності усіх проектів.</p>
            </li>
            <li class="features__item">
                <svg class="features__icon" width="60" height="60">
                    <use href="./images/sprite.svg#icon-meeting"></use>
                </svg>
                <h3 class="features__title">Індивідуальний підхід</h3>
                <p class="features__text">Ми розуміємо, що кожен проект важливий та унікальний. Наші фахівці
                    працюють з
                    клієнтами,
                    враховуючи їхні потреби та особливості проекту. Ми пропонуємо індивідуальні рішення, які
                    відповідають конкретним вимогам та гарантують успішне виконання завдань.</p>
            </li>
            <li class="features__item">
                <svg class="features__icon" width="55" height="55">
                    <use href="./images/sprite.svg#icon-quality"></use>
                </svg>
                <h3 class="features__title">Гарантія якості</h3>
                <p class="features__text">
                    Наша компанія надає повну гарантію якості на виконані роботи. Використовуючи інноваційні
                    рішення ми пильно стежимо за кожним етапом проєкту, щоб забезпечити відмінні результати та
                    задовільнити клієнтів надавши відчуття спокою та впевненості в надійності наших послуг.</p>
            </li>
        </ul>
    </div>
</section>  