<section class="services">
    <div class="container services__container" id="Geodesy-our-services">
        <h2 class="section-title services__title">Послуги та прайс</h2>
        <table>
            <thead>
                <tr>
                    <th>Геодезичні та геологічні роботи</th>
                    <th>Ціна (грн)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Розбивка осей будівлі</th>
                    <td>1600</td>
                </tr>
                <tr>
                    <th>Винесення кордонів земельної ділянки</th>
                    <td>1500</td>
                </tr>
                <tr>
                    <th>Топозйомка 1:500</th>
                    <td>2000</td>
                </tr>
                <tr>
                    <th>1 га топозйомка 1:500 (не забудована) </th>
                    <td>1000</td>
                </tr>
                <tr>
                    <th>1 га топозйомка 1:500 (промислова зона)</th>
                    <td>4500</td>
                </tr>
                <tr>
                    <th>1 км топозйомка для лінійних споруд</th>
                    <td>4000</td>
                </tr>
                <tr>
                    <th>Геологія ділянки під розміщення приватного житлового будинку</th>
                    <td>від 5000</td>
                </tr>
                <tr>
                    <th>Геологія ділянки промислового призначення</th>
                    <td>від 10000</td>
                </tr>
            </tbody>
        </table>
    </div>
</section> 